# Configuración de Visual Studio Code
back-end/.vscode/
crud-api-app/.vscode/

model/Entidades_Java.txt
model/Logica_Entidad.txt

# Ignorar archivos específicos dentro de "back-end/"
back-end/HELP.md

# Ignorar directorios de compilación y salidas
back-end/target/    
back-end/build/

# Excepciones (permitir archivos dentro de carpetas ignoradas)
!back-end/.mvn/wrapper/maven-wrapper.jar
!back-end/**/src/main/**/target/
!back-end/**/src/test/**/target/
!back-end/**/src/main/**/build/
!back-end/**/src/test/**/build/

# Archivos generados por STS (Spring Tool Suite)
back-end/.apt_generated
back-end/.classpath
back-end/.factorypath
back-end/.project
back-end/.settings/
back-end/.springBeans
back-end/.sts4-cache

# Archivos generados por IntelliJ IDEA
back-end/.idea/
back-end/*.iws
back-end/*.iml
back-end/*.ipr

# Archivos generados por NetBeans
back-end/nbproject/private/
back-end/nbbuild/
back-end/dist/
back-end/nbdist/
back-end/.nb-gradle/

# Ignorar archivos específicos dentro de "crud-api-app React Native/"
crud-api-app/

# dependencies
crud-api-app/node_modules/

# Expo
crud-api-app/.expo/
crud-api-app/dist/
crud-api-app/web-build/
crud-api-app/expo-env.d.ts

# Native
crud-api-app/*.orig.*
crud-api-app/*.jks
crud-api-app/*.p8
crud-api-app/*.p12
crud-api-app/*.key
crud-api-app/*.mobileprovision

# Metro
crud-api-app/.metro-health-check*

# debug
crud-api-app/npm-debug.*
crud-api-app/yarn-debug.*
crud-api-app/yarn-error.*

# macOS
crud-api-app/.DS_Store
crud-api-app/*.pem

# local env files
crud-api-app/.env*.local

# typescript
crud-api-app/*.tsbuildinfo/