# Configuración de Visual Studio Code
**/.vscode/
.vscode/
back-end/.vscode/
front-end/.vscode/

model/Entidades_Java.txt
model/Logica_Entidad.txt

# Ignorar archivos específicos dentro de "back-end/"
back-end/HELP.md

# Ignorar directorios de compilación y salidas
back-end/target/    
back-end/build/

# Excepciones (permitir archivos dentro de carpetas ignoradas)
!back-end/.mvn/wrapper/maven-wrapper.jar
!back-end/**/src/main/**/target/
!back-end/**/src/test/**/target/
!back-end/**/src/main/**/build/
!back-end/**/src/test/**/build/

# Archivos generados por STS (Spring Tool Suite)
back-end/.apt_generated
back-end/.classpath
back-end/.factorypath
back-end/.project
back-end/.settings/
back-end/.springBeans
back-end/.sts4-cache

# Archivos generados por IntelliJ IDEA
back-end/.idea/
back-end/*.iws
back-end/*.iml
back-end/*.ipr

# Archivos generados por NetBeans
back-end/nbproject/private/
back-end/nbbuild/
back-end/dist/
back-end/nbdist/
back-end/.nb-gradle/